# Oracle DB
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=XEPDB1
ORACLE_USER=scheduler
ORACLE_PASSWORD=scheduler_pass

# Redis
REDIS_URL=redis://redis:6379/0

# App
SECRET_KEY=change-me-in-production
LOG_LEVEL=INFO

# Alerts (optional)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=a958adc4831d7d
SMTP_PASSWORD=
SMTP_FROM=test@test.com

TELEGRAM_BOT_TOKEN=
